<div class="row">

          
          <!-- HTML -->
          <div class="item col-6 col-lg-3">
            <div class="item-inner text-center">
              <div class="item-icon">
                <img src="@/assets/images/skills/001-html5.png" class="skills_images">
              </div>
              <br>
              <h3 class="item-title">
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <br><br>
                HTML 5
              </h3>
            </div>
          </div>
          <!-- ./HTML -->

          <!-- CSS -->
          <div class="item col-6 col-lg-3">
            <div class="item-inner text-center">
              <div class="item-icon">
                <img src="@/assets/images/skills/002-css.png" class="skills_images">
              </div>
              <br>
              <h3 class="item-title">
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="far fa-star"></span>
                <br><br>
                CSS 3
              </h3>
            </div>
          </div>
          <!-- ./CSS -->

          <!-- JavaScript -->
          <div class="item col-6 col-lg-3">
            <div class="item-inner text-center">
              <div class="item-icon">
                <img src="@/assets/images/skills/003-java-script.png" class="skills_images">
              </div>
              <br>
              <h3 class="item-title">
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <br><br>
                Javascript (ES6)
              </h3>
            </div>
          </div>
          <!-- ./JavaScript -->

          <!-- jQuery -->
          <div class="item col-6 col-lg-3">
            <div class="item-inner text-center">
              <div class="item-icon">
                <img src="@/assets/images/skills/jquery_icon.png" class="skills_images">
              </div>
              <br>
              <h3 class="item-title">
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="far fa-star"></span>
                <br><br>
                jQuery
              </h3>
            </div>
          </div>
          <!-- ./jQuery -->

          <!-- Bootstrap -->
          <div class="item col-6 col-lg-3">
            <div class="item-inner text-center">
              <div class="item-icon">
                <img src="@/assets/images/skills/bootstrap-icon.png" class="skills_images">
              </div>
              <br>
              <h3 class="item-title">
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="far fa-star"></span>
                <br><br>
                Bootstrap 4
              </h3>
            </div>
          </div>
          <!-- ./Bootstrap -->

          <!-- PHP -->
          <div class="item col-6 col-lg-3">
            <div class="item-inner text-center">
              <div class="item-icon">
                <img src="@/assets/images/skills/004-php.png" class="skills_images">
              </div>
              <br>
              <h3 class="item-title">
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="far fa-star"></span>
                <br><br>
                PHP
              </h3>
            </div>
          </div>
          <!-- ./PHP -->

          <!-- Python -->
          <div class="item col-6 col-lg-3">
            <div class="item-inner text-center">
              <div class="item-icon">
                <img src="@/assets/images/skills/pyhton-logo.png" class="skills_images">
              </div>
              <br>
              <h3 class="item-title">
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <br><br>
                Python
              </h3>
            </div>
          </div>
          <!-- Python -->

          <!-- Mysql -->
          <div class="item col-6 col-lg-3">
            <div class="item-inner text-center">
              <div class="item-icon">
                <img src="@/assets/images/skills/mysql_logo.png" class="skills_images">
              </div>
              <br>
              <h3 class="item-title">
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <br><br>
                MySQL
              </h3>
            </div>
          </div>
          <!-- ./Mysql -->

          <!-- CodeIgniter -->
          <div class="item col-6 col-lg-3">
            <div class="item-inner text-center">
              <div class="item-icon">
                <img src="@/assets/images/skills/codeigniter_logo.png" class="skills_images">
              </div>
              <br>
              <h3 class="item-title">
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <br><br>
                CodeIgniter
              </h3>
            </div>
          </div>
          <!-- ./CodeIgniter -->

          <!-- Laravel -->
          <div class="item col-6 col-lg-3">
            <div class="item-inner text-center">
              <div class="item-icon">
                <img src="@/assets/images/skills/laravel-logo.png" class="skills_images">
              </div>
              <br>
              <h3 class="item-title">
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <br><br>
                Laravel
              </h3>
            </div>
          </div>
          <!-- ./Laravel -->

          <!-- Django -->
          <div class="item col-6 col-lg-3">
            <div class="item-inner text-center">
              <div class="item-icon">
                <img src="@/assets/images/skills/django_logo.png" class="skills_images">
              </div>
              <br>
              <h3 class="item-title">
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <br><br>
                Django
              </h3>
            </div>
          </div>
          <!-- ./Django -->

          <!-- Firebase -->
          <div class="item col-6 col-lg-3">
            <div class="item-inner text-center">
              <div class="item-icon">
                <img src="@/assets/images/skills/firebase_logo.png" class="skills_images">
              </div>
              <br>
              <h3 class="item-title">
                <span class="fas fa-star checked"></span>
                <span class="fas fa-star checked"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <br><br>
                Firebase
              </h3>
            </div>
          </div>
          <!-- ./Firebase -->          

        </div>